<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="example.infrastructure.datasource.greeting.GreetingMapper">

    <resultMap id="greeting" type="example.domain.model.greeting.Greeting">
        <id property="id.value" column="request_id"/>
        <result property="greetTo" column="greet_to"/>
    </resultMap>

    <select id="list" resultMap="greeting">
        SELECT request_id, greet_to
        FROM greeting.requests
        ORDER BY request_id;
    </select>


    <insert id="register">
        INSERT INTO greeting.requests (
          request_id, greet_to
        )
        VALUES (
        #{greeting.id.value},#{greeting.greetTo}
        );
    </insert>

</mapper>